# Ignore All files in Any directory Named Temp
JavaScript/section-17/node_modules
JavaScript/section-17/package-lock.json8
JavaScript/section-17/.cache
JavaScript/section-17/.parcel-cache
JavaScript/section-17/dist
/JavaScript/section-18/package-lock.json
/home/anushavs/Desktop/hello-training-Oct/JavaScript/section-18/node_modules
/home/anushavs/Desktop/hello-training-Oct/JavaScript/section-18/dist
/home/anushavs/Desktop/hello-training-Oct/JavaScript/section-18/.parcel-cache