@font-face {
    font-family:doordash_bold;
    src: url(assets/font/TTNorms-Bold.woff2);
}
@font-face {
    font-family:doordash_extra_bold;
    src: url(assets/font/TTNorms-ExtraBold.woff2);
}
@font-face {
    font-family:doordash_medium;
    src: url(assets/font/TTNorms-Medium.woff2);
}
@font-face {
    font-family:doordash_regular;
    src: url(assets/font/TTNorms-Regular.woff2);
}
body{
    margin: 0;
}
.menu_bar{
    background:url(assets/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x:center; 
}
.sign_in_and_sign_up{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top:16px;
    height: 40px;
    padding-right: 24px;
}
.login_icon{
    display: flex;
    flex-direction: row;
}
.sign_in_and_sign_up a{
    text-decoration: none;
    font-family: doordash_bold;
    letter-spacing: -0.04ch;
}
.sign_in{
    display: flex;
    align-items: center;
    /* background: blue; */
    cursor: pointer;
}
.sign_in a{
    color: #ffffff;
    padding: 0 16px;
    font-size: 18px;
}
.sign_up{

    display: flex;
    align-items: center;
    background: white;
    border-radius: 1000px;
    cursor: pointer;
    width: 87.55px;
}
.sign_up a{
    color:rgb(73, 73, 73);
    padding: 0 16px;
}
.nav_bar{
    padding: 40px 0 96px 0;
    /* background: #ea9090; */
}
.doordash_icon{
    display: flex;
    justify-content: center;
}
.menu_bar_heading{
    display: flex;
    justify-content: center;
    padding: 16px 0;
    
}
.menu_bar_heading span{
    font-family: doordash_bold;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    letter-spacing: -0.04ch;
    line-height: 40px;
    width: 363px;
}
.search_bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
.search{
    display: flex;
    align-items: center;
    background: #ffffff;
    justify-content: space-evenly;
    width:86.5%;
    margin-top: 12px;
    height: 48px;
    border-radius:18px;
    
}
.search input{
    border:transparent;
    font-family: doordash_medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.search_bar_text{
    width: 60%;
}
.search_icon_input{
    display: flex;
    width: 83%;
}
.search_icon{
    padding: 0 4px 0 13px;
}
.search_arrow{
    padding-right: 10px;
}
.search_bar a{
    margin:16px;
    color: rgb(255, 255,255);
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    font-family: doordash_medium;
}
.location_icon{
    display: none;
}
.doordash_icon_head{
    display: none;
}
@media screen and (min-width:425px){
    .search{
        width:64.5%;
    }
}
@media screen and (min-width:768px){
    .nav_bar{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .search_icon{
        display: none;
    }
    .location_icon{
        display: contents;
    }
    .search{
        width:52.5%;
        border-radius: 23px;
        display: flex;
        justify-content: space-around;
    }
    .search_icon_input{
        display: flex;
        gap: 9px;
    }
}
    @media screen and (min-width:1024px){
    .menu_bar{
        height: 582px;
    }
    .first_svg{
        margin: 0 1px 0 0;
    }
    .second_svg{
        margin: 3px 0 0 0;
    }
    .doordash_icon{
        display: none;
    }
    .login_icon{
        display: flex;
    }
    .sign_in_and_sign_up{
        display: flex;
        gap: 208px;
    }
    .doordash_icon_head{
        display: flex;
        gap:11px;
    }
    .menu_bar_heading span{
        font-size: 64px;
        line-height: 76px;
        width:88%;
        padding-top:26px
    }
    .search_bar{
        padding-top: 3px;
    }
    .search{
        width:40%
    }
    .search_arrow{
        padding-right: 0;
        padding-top: 4px;
    }
    .location_icon svg{
        margin-left: -5px;
    }
} 

