*{
    margin: 8;
    padding: 0px;
}
body{
  font-family: airbnb; 
  margin-top:8px;
}
@font-face{
    font-family:airbnb;
    src:url(img/font/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2);
}
.search1{
    display: noone;
}
.layout{
    width:100%;
    display: flex;
    flex-direction: column;
}
.container{
    width: 1;
    height: 54px;
    display: flex;
    flex-direction: column;
    position: sticky;
    z-index: 1;
    box-sizing: content-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1;
}


.container-sub-a{
    justify-content: space-between;
    display: flex;
    background: #fff;
    border: 0.5px solid rgba(0,0,0,0.08);
    border-radius: 1000px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    transform: translate3d(0,0,0);
    /* min-height: 56px; */
    /* min-width: 285px; */
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 9;
    position: r;
    margin:1px;
}
.container-sub-b{
    display: flex;
    align-items: center;
    /* min-width: 227px; */
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    margin-right: 2;
}
.searchbutton{
    -webkit-box-align: center;
    display: flex !important;
    align-items: center;
    margin: 0px !important;
    padding: 0px !important;
    text-align: left;
    background: transparent;
    position: relative;
    border-width: 1px;
    border-style:solid;
    outline: none;
    border: none;
    white-space: nowrap;
    height: 100%;
    width: 100%;
    /* min-width:227px; */
}
.searchbutton-sub{
    padding: 0 16px 0 20px;
}
.whereto{
    /* width:173px; */
    height:36px;
    padding-left: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
    margin-right: auto;
}
.whereto-a{
    /* width: 68.375px; */
    height: 20px;
    display:flex;
    font-family: airbnb;
    font-size: 14px;
    font-weight:600;
    line-height: 20px;
    color:#222222;
    font-family: inherit;
}
.any{
    display: flex;
    min-width: 50px;
    color:#717171;
    font-size: 12px;
    line-height: 16px;
    font-family: airbnb;
}
.any-a{
    display: flex;
    min-width: 20px;
}
.anywhere{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 
.anyweek{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.any-guests{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dot{
    padding: 0 5px 0 5px;
}
.filter{
    display: flex;
    width: 56px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-a{
    border: 1px solid #dddddd;
    border-radius: 25px;
    max-resolution: 0 10px;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabs{
    margin: 0;
    display: grid;
    grid-auto-flow:column;
    grid-gap: 16px;
        
}
.search1{
    display: none;
}

        /*-------------tabs------------------*/

.tabicons{
    display:flex;
    overflow: scroll;
    /* width: 100%; */
    gap: 25px;
    padding:20px 0 20px 0;
    height: 40px;
    border-bottom: 1px solid #dddddd;

}
::-webkit-scrollbar{
    display: none;
}
.tabicons img{
    width: 24px;
    height: 24px;
    
}
.tinyhomes{
    display: flex;
    flex-flow: column;
    white-space: nowrap;
    text-align:center;
    font-size: 12px;
    line-height: 16px;
    font-weight:600;
    opacity: .6;
    height: 43px;
}
.tinyhomes:hover{
    color: black;
    opacity: 1.2;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
    
}
.nationalparks{
    display: flex;
    flex-flow: column;
    white-space: nowrap;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    opacity: .6;
    height: 43px;
}
.nationalparks:hover{
    color: black;
    opacity: 1.2;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}
.pool{
    display: flex;
    flex-flow: column;
    white-space: nowrap;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    opacity: .6;
    height: 43px;
}
.pool:hover{
    color: black;
    opacity: 1.2;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}
.beaches{
    display: flex;
    flex-flow: column;
    white-space: nowrap;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    opacity: .6;
    height: 43px;
}
.beaches:hover{
    color: black;
    opacity: 1.2;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}
.countryside{
    display: flex;
    flex-flow: column;
    white-space: nowrap;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    opacity: .6;
    height: 43px;
}
.countryside:hover{
    color: black;
    opacity: 1.2;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}
.omg{
    display: flex;
    flex-flow: column;
    white-space: nowrap;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    opacity: .6;
    height: 43px;
}
.omg:hover{
    color: black;
    opacity: 1.2;
    padding-bottom: 15px;
    border-bottom: 2px solid black; 
}
.amazingviews{
    display: flex;
    flex-flow: column;
    white-space: nowrap;
    align-items: center;
    font-size: 12px;
    opacity: .6;
    font-weight: 600;
    height: 43px;
}
.amazingviews:hover{
    color: black;
    opacity: 1.2;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}
.tropical{
    display: flex;
    flex-flow: column;
    align-items: center;
    white-space:nowrap;
    font-size: 12px;
    font-weight:600;
    opacity: .6;
    height: 43px;
}
.tropical:hover{
    color:black;
    opacity:1.2;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}
.farms{
    display: flex;
    flex-flow: column;
    align-items: center;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 600;
    opacity: .6;
    height: 43px;
}
.farms:hover{
    color: black;
    opacity: 1.2;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}
.houseboats{
    display: flex;
    flex-flow: column;
    align-items: center;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 600;
    opacity: .6;
    height: 43px;
}
.houseboats:hover{
    color: black;
    opacity: 1.2;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}
.cabins{
    display: flex;
    flex-flow: column;
    align-items: center;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 600;
    opacity: .6;
    height: 43px;
}
.cabins:hover{
    color:black;
    opacity: 1.2;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}
.treehouse{
    display: flex;
    flex-flow: column;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 600;
    opacity: .6;
    align-items: center;
    height: 43px;
}
.treehouse:hover{
    color: black;
    opacity: 1.2;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}
.sharedhomes{
    display:flex;
    flex-flow:column;
    align-items:center;
    white-space:nowrap;
    font-size:12px;
    opacity: .6;
    font-weight: 600;
    height: 43px;
}
.sharedhomes:hover{
    color: black;
    opacity: 1.2;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}
.creativespaces{
    display: flex;
    flex-flow: column;
    white-space: nowrap;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    opacity: .6;
    height: 43px;
}
.creativespaces:hover{
    color: black;
    opacity: 1.2;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}
.island{
    display: flex;
    flex-flow: column;
    white-space: nowrap;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    opacity: .6;
    height: 43px;
}
.island:hover{
    color: black;
    opacity: 1.2;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}
.lakefront{
    display: flex;
    flex-flow:column;
    white-space: nowrap;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    opacity: .6;
    height: 43px;
}
.lakefront:hover{
    color: black;
    opacity: 1.2;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}
.lake{
    display: flex;
    flex-flow: column;
    white-space: nowrap;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    opacity: .6;
    height: 43px;
}
.lake:hover{
    color: black;
    opacity: 1.2;
    padding-bottom: 15px;
    border-bottom: 2px solid black;   
}
.iconiccities{
    display: flex;
    flex-flow: column;
    align-items: center;
    white-space:nowrap;
    font-size: 12px;
    font-weight: 600;
    opacity: .6;
    height: 43px;
}
.iconiccities:hover{
    color: black;
    opacity: 1.2;
    padding-bottom:15px;
    border-bottom: 2px solid black;
}
.castles{
    display: flex;
    flex-flow: column;
    align-items:center;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 600;
    opacity: .6;
    height: 43px;
}
.castles:hover{
    color: black;
    opacity: 1.2;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}
.mansions{
    display: flex;
    flex-flow:column;
    align-items:center;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 600;
    opacity: .6;
    height:43px;
}
.mansions:hover{
    color: black;
    opacity: 1.2;
    padding-bottom: 15px;
    border-bottom: 2px solid;
}

/* -------------CONTENT--------- */

.content{
    padding: 0 24px;
    margin: 24px 0 24px 0;
}
.nashik{
    width: 80vw;
    height: 80vw;
    position: relative;
    top: 0;
    bottom: 0;
    
}
.nashik img{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    bottom:0;
    border-radius: 10px;
}
.nashik svg{
    position: absolute;
    top:20px;
    right:20px;
}
.nashik-text{
    line-height: 5px;
    display: flex;
    flex-direction: row;
}


/* -----Media Screen ---- */

@media screen and (min-width:375px){
    .anysub1{
        display: flex;
        min-width: 50px;
    }
    .anysubspan{
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
} 
@media screen and (min-width:768px){
    .container{
        display: none;
    }
    .container-sub-a{
        display: none;
    }
    
    .search1{
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
        height: 80px;
        border-bottom: 1px solid #dddddd;
    }
    .heading{
        display: flex;
        height: 80px;
        padding: 0px 40px;
        padding-left: 40px;
    }
    button{
        display: flex;
        justify-content: center;
    }
    .airbnbicon{
        display: inline-flex;
        align-items: center;
    }
    .airbnbicon1{
        display: none;
    }
    svg .airbnb{
        width: 46px;
        height: 64px;
    }
    .any{
        width: 400px;
        height:80px;
        padding: 0 24px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .add{
        height: 48px;
        background-color:#ffffff;
        border: 1px solid #dddddd;
        border-radius: 40px;
        box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
        box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
        display: inline-flex;
        align-items: center;
    }
    .content1{
        padding: 0px 16px;
        font-size: 14px;
        font-weight: 600;
    }
    .content2{
        padding: 0px 16px;
        font-size: 14px;
        font-weight: 600;
    }
    .content3{
        padding: 0px 16px;
        color: #717171;
    }
    .bar{
        font-size: 20px;
        color: #717171;
        font-weight:inherit;
    }
    .searchicon{
        background: #ff385c;
        padding: 10px;
        margin: 7px 7px 7px 0;
        border-radius: 50%;
    }
    .headright{
        width: 257px;
        height: 80px;
        display: inline-flex;
        align-items: center;
    }
    .become{
        width: 127.31px;
        font-family: inherit;
        font-weight: 600;
    } 
    .browser{
        width:46px;
    }
    .usericon{
        display: inline-flex;
        align-items: center;
        background-color: #ffffff;
        /* padding: 5px 5px 5px 12px; */
        padding-left: 12px;
        border:1px solid #dddddd;
        border-radius:25px ;
        width: 77px;
        height: 42px;
        gap:24px;
    }
    .log{
        width: 28.69px;
        height: 28.69px;
    }
    .tabicons{
        margin-top: 10px;
        height: 40px;
    
    }
}
@media screen and (min-width: 1024px){
    .search{
        display: none;
    }
    .search1{
        display: flex;
        flex-direction:row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .heading{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .any{
        width: 400.2px;
    }
    .airbnbicon{
        display: none;
        z-index: 6;
    }
    .airbnbicon1{
        display: inline-flex;
        align-items: center;
        /* width: 279.91px; */
    }
    .head-right{
     
        display: inline-flex;
        align-items: center;
        justify-content: right;
    }
    
}