/*p, a{
    width: 20%;
    margin: 20px;
    padding: 30px;
    border: 2px solid #000;
    display: block;
}
p{
    padding: 20px;
    background: #eee;
    font-family: arial;
    line-height: 1.4em;
}*/
body{
    background-color: #eee;
}
.wrapper{
    background: #fff;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
.wrapper:after{
    content: "";
    display: block;
    clear: both;
}
/*img{
    float: left;
    margin: 20px;
    height: 100%;

}*/
/*.blue{
    background: blue;
    float: left;
}
.red{
    background: red;
    float: left;
}
.green{
    background: green;
    float: left;
}
.box{
    height: 50px;
    width: 50px;
}*/ 
.services:after{
 content: "";
 display: block;
 clear: both;
}
.service h2, .service p{
    color: #999;
    margin: 10px 0;
    text-align: center;
}.service{
    float: left;
    background: #eee;
    width: 29.33%;
    margin: 1%;
    padding: 1%;
    height: 140px;

}
.content{
    padding: 10px;
    background:#ccc;
    clear: left;
    margin-top: 50px;
}