*{
    margin: 0;
    padding:0;
    font-family: sans_regular;
    font-weight: 100;
}
@font-face {
    font-family:sans_bold;
    src: url(assets/font/open-sans-bold.yji-1145ff0b749fff2d31bb.woff2);
}
@font-face {
    font-family:sans_regular ;
    src: url(assets/font/open-sans-regular.yji-aff9b80e384301f2ae0c.woff2);
}
@font-face {
    font-family: sans_semibold;
    src: url(assets/font/open-sans-semibold.yji-d3abae27d3eac73b40a5.woff2);
}
@font-face {
    font-family: poppins_bold;
    src: url(assets/font/poppins-bold.yji-9690ce6275ddc5645cfa.woff2);
}
@font-face {
    font-family: poppins_medium;
    src: url(assets/font/poppins-medium.yji-dc16a3592fdb61b620cc.woff2);
}
header{
    background-size: cover;
    animation: bgm_img infinite 20s;
}
@keyframes bgm_img{
    0%{
        opacity: .9;
        background-image:url(assets/banner.jpg);
    }
    33%{
        opacity: 1;
        background-image:url(assets/banner.jpg);
    }
    33.1%{
        opacity: .9;
        background-image:url(assets/o.jpg);
    }
    66%{
        opacity: 1;
        background-image:url(assets/o.jpg);
    }
    66.1%{
        opacity: .9;
        background-image: url(assets/f.jpg);
    }
    100%{
        opacity: 1;
        background-image: url(assets/f.jpg);
    }

}
.nav_bar{
    display:flex;
    align-items: center;
    height: 48px;
    padding: 24px 40px 0 40px;
}
.search_bar{
    display: flex;
    align-items: center ;
    height: 48px;
    background-color: #ffff;
    width: 100%;
    border-radius: 4px;
}
.search_bar .text_one{
    width: 50%;
}
.search_bar .text_one span{
    padding-left: 16px;
}
.search_bar .text_two{
    width: 50%;
}
.search_bar .text_two span{
    padding-left: 16px;
}
.search_bar .text_one .text{
    height: 22px;
    border-right: 2px solid #ebebeb;
    opacity: 0.6;
}
.nav{
    display:flex;
    align-items: center;
    margin-left: 56px;
    color: #ffff;
}
.nav_bar .logo{
    padding-top: 5px;
    padding-right: 32px;
}
.search_bar button{
    width: 61px;
    height: 48px;
    background-color: #e00707;
    border: none;
    border-radius:  0 4px 4px 0;
}
.search_bar button svg{
    padding-top: 5px;
}
.nav_sign-up{
    white-space: nowrap;
    background-color: #e00707;
    padding: 7px 16px 8px 16px;
    margin-bottom: 2px;
    border-radius: 5px;
    margin-left: 12px;
}
.nav_sign-up span{
    font-family: poppins_medium;
    font-size: 16px;
    letter-spacing: -0.02ch;
}
.nav button{
    background: transparent;
    color:#ffff;
    height: 40px;
    border: 2px solid rgb(200, 201, 202,1);
    border-radius: 4px;
}
.nav button span{
    padding: 8px 16px;
    font-family: poppins_medium;
    font-size:15px;
    letter-spacing: 0.04ch;
}
.nav .review span{
    font-size: 14px;
    padding-right: 18px;
    margin-right: 6px;
    font-family: sans_semibold;
    margin-bottom: 5px;
    padding-left:8px;
}
.nav span{
    white-space: nowrap;
}
.review{
    display: flex;
}
.nav button{
    margin-bottom: 2px;
}
.nav_tabs span{
    color: #ffff;
}
.nav_tabs{
    display: flex;
}
.tab {
    display:flex;
    align-items: center;
    height: 53px;
    padding: 0 16px 5px 16px;
}
.nav_tabs{
    margin-left: 152px;
    font-size: 14px;
}
.tab svg{
    margin-left: 4px;
    margin-bottom: 2px;
}

/* ----nav head---- */

.nav_head{
    max-width: 1144px;
    margin-inline: auto;
    display:flex;
    gap: 24px;
    padding-top:64px;
    padding-left: 14px;
    padding-bottom: 87px;
}
.selection_one{
    width: 10px; 
    height: 0;
    position: relative;  
    animation: bar 20s infinite;
    border-radius: 5px;
}
.selection_two{
    width: 10px; 
    height: 0;
    position: relative;  
    animation: bar 20s infinite;
    animation-delay: 6s;
    border-radius: 5px;
}
.selection_three{
    width: 10px; 
    height: 0;
    position: relative;  
    animation: bar 20s infinite;
    animation-delay: 12s;
    border-radius: 5px;
}
@keyframes bar{
    33.33%, 66.66%, 100%{
        top: 0px;
        background:#ffff;
        height: 89.33px;
    }
}
.selection_bar{
    width: 10px;
    height: 89.33px;
    margin-bottom:.6em;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}
.nav_head h2{
    color: #ffff;
    font-size: 47px;
    font-weight: 900;
    font-family: poppins_bold;
    padding-left: 7px;
    margin-bottom: 24px;
}
.search_hvac{
    width: min-content;
    padding: 12px 32px;
    background-color: #e00707;
    display: flex;
    color: #ffff;
}
.search_hvac p{
    font-size: 16px;
    font-weight: 600;
    font-family: poppins_medium;
    padding-left: 8px;
}
.nav_last span{
    font-weight: 800;
}
.nav_last{
    max-width: 1130px;
    margin-inline: auto;
    font-size: 14px;
    color: #ffff;
    padding-bottom: 66px;
}
.card_head{
    max-width: 1144px;
    margin-inline: auto;
    text-align: center;
    padding-top: 56px;
    margin-bottom: 48px;
}
.card_head h1{
    font-size: 28px;
    font-weight: 700;
    font-family: poppins_bold;
}