*{
    margin: 0;
    padding:0;
    font-family: sans_regular;
    font-weight: 100;
    object-fit: cover;
}
@font-face {
    font-family:sans_bold;
    src: url(assets/font/open-sans-bold.yji-1145ff0b749fff2d31bb.woff2);
}
@font-face {
    font-family:sans_regular ;
    src: url(assets/font/open-sans-regular.yji-aff9b80e384301f2ae0c.woff2);
}
@font-face {
    font-family: sans_semibold;
    src: url(assets/font/open-sans-semibold.yji-d3abae27d3eac73b40a5.woff2);
}
@font-face {
    font-family: poppins_bold;
    src: url(assets/font/poppins-bold.yji-9690ce6275ddc5645cfa.woff2);
}
@font-face {
    font-family: poppins_medium;
    src: url(assets/font/poppins-medium.yji-dc16a3592fdb61b620cc.woff2);
}
header{
    /* background-size: cover; */
    animation: bgm_img infinite 20s;
    background: linear-gradient(90deg, #0006, #0000001a 55%);
}
@keyframes bgm_img{
    0%{
        background-size: cover;
        background-image:url(assets/banner.jpg);
    }
    33%{
        background-size: cover;
        background-image:url(assets/banner.jpg);
    }
    33.1%{
        background-size: cover;
        background-image:url(assets/o.jpg);
    }
    66%{
        background-size: cover;
        background-image:url(assets/o.jpg);
    }
    66.1%{
        background-size: cover;
        background-image: url(assets/f.jpg);
    }
    100%{
        background-size: cover;
        background-image: url(assets/f.jpg);
    }

}
.nav_bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding: 24px 40px 0 40px;
}
.search_bar{
    display: flex;
    align-items: center ;
    height: 48px;
    background-color: #ffff;
    width: 100%;
    border-radius: 4px;
    max-width: 968px;
}
.search_bar .text_one{
    width: 50%;
}
.search_bar .text_one span{
    padding-left: 16px;
}
.search_bar .text_two{
    width: 50%;
}
.search_bar .text_two span{
    padding-left: 16px;
}
.search_bar .text_one .text{
    height: 22px;
    border-right: 2px solid #ebebeb;
    opacity: 0.6;
}
.nav{
    display:flex;
    align-items: center;
    margin-left: 56px;
    color: #ffff;
}
.nav_bar .logo{
    padding-top: 5px;
    padding-right: 32px;
}
.search_bar button{
    width: 61px;
    height: 48px;
    background-color: #e00707;
    border: none;
    border-radius:  0 4px 4px 0;
}
.search_bar button svg{
    padding-top: 5px;
}
.nav_sign-up{
    white-space: nowrap;
    background-color: #e00707;
    padding: 7px 16px 8px 16px;
    margin-bottom: 2px;
    border-radius: 5px;
    margin-left: 12px;
}
.nav_sign-up span{
    font-family: poppins_medium;
    font-size: 16px;
    letter-spacing: -0.02ch;
}
.nav button{
    background: transparent;
    color:#ffff;
    height: 40px;
    border: 2px solid rgb(200, 201, 202,1);
    border-radius: 4px;
}
.nav button span{
    padding: 8px 16px;
    font-family: poppins_medium;
    font-size:15px;
    letter-spacing: 0.04ch;
}
.nav .review span{
    font-size: 14px;
    padding-right: 18px;
    margin-right: 6px;
    font-family: sans_semibold;
    margin-bottom: 5px;
    padding-left:8px;
}
.nav span{
    white-space: nowrap;
}
.review{
    display: flex;
}
.nav button{0
    margin-bottom: 2px;
}
.nav_tabs span{
    color: #ffff;
}
.tab {
    display:flex;
    align-items: center;
    height: 53px;
    padding: 0 16px 5px 16px;
}
.nav_tabs{
    margin-left: 152px;
    font-size: 14px;
    max-width: 1162px;
    display: flex;
}
.tab svg{
    margin-left: 4px;
    margin-bottom: 2px;
}

/* ----nav head---- */

.nav_head{
    max-width: 1144px;
    margin-inline: auto;
    display:flex;
    gap: 24px;
    padding-top:64px;
    padding-left: 14px;
    padding-bottom: 87px;
}
.selection_one{
    width: 10px; 
    height: 0;
    position: relative;  
    animation: bar 20s infinite;
    border-radius: 5px;
}
.selection_two{
    width: 10px; 
    height: 0;
    position: relative;  
    animation: bar 20s infinite;
    animation-delay: 6s;
    border-radius: 5px;
}
.selection_three{
    width: 10px; 
    height: 0;
    position: relative;  
    animation: bar 20s infinite;
    animation-delay: 12s;
    border-radius: 5px;
}
@keyframes bar{
    33.33%, 66.66%, 100%{
        top: 0px;
        background:#ffff;
        height: 89.33px;
    }
}
.selection_bar{
    width: 10px;
    height: 89.33px;
    margin-bottom:.6em;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}
.nav_head h2{
    color: #ffff;
    font-size: 47px;
    font-weight: 900;
    font-family: poppins_bold;
    padding-left: 7px;
    margin-bottom: 24px;
}
.search_hvac{
    width: min-content;
    padding: 12px 32px;
    background-color: #e00707;
    display: flex;
    color: #ffff;
}
.search_hvac p{
    font-size: 16px;
    font-weight: 600;
    font-family: poppins_medium;
    padding-left: 8px;
}
.nav_last span{
    font-weight: 800;
}
.nav_last{
    max-width: 1130px;
    margin-inline: auto;
    font-size: 14px;
    color: #ffff;
    padding-bottom: 66px;
}

/*    CARDS   */

.card_head{
    max-width: 1144px;
    margin-inline: auto;
    text-align: center;
    padding-top: 56px;
    margin-bottom: 45px;
}
.card_head h1{
    font-size: 28px;
    font-weight: 700;
    font-family: poppins_bold;
    color: #2d2e2f;
    letter-spacing: -0.02ch;
    margin-top: -2px;
}
.card_container{
    max-width: 1144px;
    margin-inline: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 32px;
}
.image img{
    width: 100%;
    height: 92px;
    margin-bottom: 11px;
}
.card{
    height: 342px;
    padding: 18px 0 14px 0;
    border: 1px solid #ebebeb;
}
.profile img{
    border-radius: 30px;
    width: 40px;
    height: 40px;
}
.profile{
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
    padding: 0 24px;
}
.profile_details p{
    color: #2d2e2f;
    font-size: 16px;
    font-weight: bold;
    font-family: sans_bold;
    line-height: 21px;
}
.profile_details span{
    color: #2d2e2f;
    font-size: 14px;
    font-family: sans_regular;
    font-weight: 100;
}
.card_heading p{
    color: #027a97;
    font-size: 14px;
    font-family: sans_semibold;
}
.continue p{
    padding-bottom: 9px;
    border-bottom: 1px solid #ebebeb;
}
.card_heading{
    padding: 0 24px;
}
.card_heading span{
    font-size: 14px;
    color: #2d2e2f;
}
.img{
    max-width: 155px;
    max-height: 208px;
    border: 1px solid #ebebeb;
    border-radius: 4px;padding-bottom: 8px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 0px;
}
.img img{
    width: 100%;
    height: 168px;
    border-radius: 4px 4px 0 0 ;
}
.img_card{
    display: flex;
    gap: 12px;
    padding: 16px;
}
.img svg{
    padding: 4px 7px 0 8px;
}
.bottom_text{
    color: #027a97;
    font-size: 14px;
    padding: 0 16px;
}
.bottom_text span{
    font-family: sans_semibold;
}
.rating{
    padding-top:9px;
    display: flex;
    gap: 2px;
    margin-bottom: 4px;
}
.reactions{
    padding: 17px 24px 0 32px;
    display: flex;
    gap: 40px;
}
.type_a_img{
    height: 200px;
    margin-top: 8px;
}
.type_a_img img{
    width: 100%;
    height: 100%;
}
.type_a_img svg{
    padding: 24px 0 0 24px;
}
.card_bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px 0 104px 0;
    color: #027a97;
    border-bottom:1px solid #ebebeb;
}
.card_bottom svg{
    fill: #027a97;
}
.card_bottom span{
    font-size: 14px;
    font-family: sans_bold;
}
.categories{
    padding: 48px 0;
}
.categories h2{
    text-align: center;
    margin-bottom: 40px;
    font-family: poppins_bold;
    font-size: 28px;
    color: #2d2e2f;
}
.container_category_card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1144px;
    margin-inline: auto;
    gap: 40px;
}
.category_card{
    max-width: 256px;
    height: 183px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid #ebebeb;
}
.category_card svg{
    width: 40px;
    height: 40px;
}
.category_card p{
    font-family: sans_semibold;
    font-size: 16px;
    color: #2d2e2f;
}
/* FOOTER */

footer{
    background: #f7f7f7;
}
.footer_content{
    max-width: 1144px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 46px 0 44px 0;
    column-gap: 32px;
}
.section h2{
    color: #2d2e2f;
    font-size: 16px;
    font-family: sans_bold;
    margin: 16px 0 17px 0;
}
.section p{
    color: #6e7072;
    font-size: 14px;
    margin-bottom: 9px;
}
.section_a h2{
    color: #2d2e2f;
    font-size: 16px;
    font-family: sans_bold;
    margin: 16px 0 8px 0;
}
.section_a p{
    color: #6e7072;
    font-size: 14px;
    margin-bottom: 9px;
}
.section_a svg{
    fill: #6e7072;
    transform: translateY(3px);
}
.footer{
    max-width: 1144px;
    margin-inline: auto;
    padding-bottom: 58px;
}
.footer span{
    font-size: 12px;
    color: #6e7072;
}
.logo_desktop{
    width: 38px;
    height: 19px;
    transform: translateY(4px);
    margin-left: 3px;
}
.red_logo{
    width: 14px;
    height: 16px;
}
.footer svg{
    transform: translateY(2px);
    margin:0 2px 0 1px
}
@media screen and (min-width:1910px) {
    .nav_bar .logo{
        padding-right: 260px;
    }
    .nav_bar{
        display: flex;
        
    }
}
